/java/target/
/java/!.mvn/wrapper/maven-wrapper.jar
/java/!**/src/main/**/target/
/java/!**/src/test/**/target/

### IntelliJ IDEA ###
/java/.idea/modules.xml
/java/.idea/jarRepositories.xml
/java/.idea/compiler.xml
/java/.idea/libraries/
/java/*.iws
/java/*.iml
/java/*.ipr

### Eclipse ###
/java/.apt_generated
/java/.classpath
/java/.factorypath
/java/.project
/java/.settings
/java/.springBeans
/java/.sts4-cache

### NetBeans ###
/java/nbproject/private/
/java/nbbuild/
/java/dist/
/java/nbdist/
/java/.nb-gradle/
/java/build/
/java/!**/src/main/**/build/
/java/!**/src/test/**/build/

### VS Code ###
/java/.vscode/

### Mac OS ###
/java/.DS_Store

# extra
/clojure/.cpcache/
/.idea/
/.nrepl-port
/.idea/libraries/
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/ClojureProjectResolveSettings.xml
/node_modules/
/.clj-kondo/
/.lsp/
package-lock.json
/.m2/
*.iml
/clojure/.idea/
/clojure/.nrepl-port
/java/.idea/
