### IntelliJ IDEA ###
/java/*.iws
/java/*.iml
/java/*.ipr

# extra
/clojure/.cpcache/
/.idea/
/.nrepl-port
/.idea/libraries/
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/ClojureProjectResolveSettings.xml
/node_modules/
/.clj-kondo/
/.lsp/
package-lock.json
/.m2/
*.iml
/clojure/.idea/
/clojure/.nrepl-port
/java_files/.idea/
/c++/.vscode
/c++/hello_world/x64
/clojure/.calva
/clojure/.cljs_node_repl
/clojure/.clj-kondo
/clojure/.lsp
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
